
h1, h2, h3{
  color: white;
}

#public_body, #admin_body, #auth_body, #user_body{
  margin-bottom: auto;
}

#auth_body{
  margin-bottom: 40px;
}

.logo{
  color: black;
}

.cardLogin, .cardLogin h1{
  color: navy;
}

.eventCard{
  color: black;
}

.searchEventRes{
  color: aliceblue;
}